body {
  background-color: rgb(255, 184, 255);
  
  border-top: 50px;
  /* background-image: url("https://rare-gallery.com/thumbs/501777-geometry-4k.jpg"); */
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/56/32/NfD1I2.gif");
}

#div-body {
  font-family: Arial, Helvetica, sans-serif;
  color:blueviolet;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-size: 200%;
}

h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  margin-bottom: 1%;
}

button {
  position: absolute;
  left: 15%;
  top: 50%;
}

.top-text {
  -webkit-text-stroke: 2px black; /* width and color */
  
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact,   Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"
    
    
}




.bottom-text {
  -webkit-text-stroke: 2px black; /* width and color */
  
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact,   Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"
}


.holder {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 2rem;
  margin-bottom: 50px;
}
